

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>
<head>
<title>GeNews</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="assets/font/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="assets/font/font.css" />
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="screen" />
<link rel="stylesheet" type="text/css" href="assets/css/jquery.bxslider.css" media="screen" />
</head>
<body>
<div class="body_wrapper">
  <div class="center">
    <div class="header_area">
    <!-- Top Menu -->
    <%= render 'partials/top_menu' %>

    <!-- Search Bar -->
    <%= render 'partials/search' %>

    </div>
    <div class="main_menu_area">

    <!-- Navigation -->
    <%= render 'partials/navigation' %>

    <!-- Featured Article Banner -->
    <%= render 'partials/home/home_featured_article' %>

    <div class="content_area">
    <!-- Left Columns Partial -->
    <%= render 'partials/home/home_left_columns' %>
    
    <!-- Right Columns Partial  -->
    <%= render 'partials/home/home_right_columns' %>
      </div>
        
       
    </div>

    <!-- Footer Partial  -->
    <%= render 'partials/footer' %>

  </div>
</div>
<script type="text/javascript" src="assets/js/jquery-min.js"></script> 
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.bxslider.js"></script> 
<script type="text/javascript" src="assets/js/selectnav.min.js"></script> 
<script type="text/javascript">
selectnav('nav', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
selectnav('f_menu', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
$('.bxslider').bxSlider({
    mode: 'fade',
    captions: true
});
</script>
</body>
</html>