<%= form_with(model: interest, local: true) do |form| %>
  <% if interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :location_id, id: :interest_location_id %>
  </div>

  <div class="field">
    <%= form.label :politics %>
    <%= form.check_box :politics, id: :interest_politics %>
  </div>

  <div class="field">
    <%= form.label :sports %>
    <%= form.check_box :sports, id: :interest_sports %>
  </div>

  <div class="field">
    <%= form.label :economy %>
    <%= form.check_box :economy, id: :interest_economy %>
  </div>

  <div class="field">
    <%= form.label :weather %>
    <%= form.check_box :weather, id: :interest_weather %>
  </div>

  <div class="field">
    <%= form.label :local %>
    <%= form.check_box :local, id: :interest_local %>
  </div>

  <div class="field">
    <%= form.label :national %>
    <%= form.check_box :national, id: :interest_national %>
  </div>

  <div class="field">
    <%= form.label :world %>
    <%= form.check_box :world, id: :interest_world %>
  </div>

  <div class="field">
    <%= form.label :gadget %>
    <%= form.check_box :gadget, id: :interest_gadget %>
  </div>

  <div class="field">
    <%= form.label :fashion %>
    <%= form.check_box :fashion, id: :interest_fashion %>
  </div>

  <div class="field">
    <%= form.label :lifestyle %>
    <%= form.check_box :lifestyle, id: :interest_lifestyle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
