<p id="notice"><%= notice %></p>

<h1>Interests</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Politics</th>
      <th>Sports</th>
      <th>Economy</th>
      <th>Weather</th>
      <th>Local</th>
      <th>National</th>
      <th>World</th>
      <th>Gadget</th>
      <th>Fashion</th>
      <th>Lifestyle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td><%= interest.location_id %></td>
        <td><%= interest.politics %></td>
        <td><%= interest.sports %></td>
        <td><%= interest.economy %></td>
        <td><%= interest.weather %></td>
        <td><%= interest.local %></td>
        <td><%= interest.national %></td>
        <td><%= interest.world %></td>
        <td><%= interest.gadget %></td>
        <td><%= interest.fashion %></td>
        <td><%= interest.lifestyle %></td>
        <td><%= link_to 'Show', interest %></td>
        <td><%= link_to 'Edit', edit_interest_path(interest) %></td>
        <td><%= link_to 'Destroy', interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interest', new_interest_path %>
