<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @interest.location_id %>
</p>

<p>
  <strong>Politics:</strong>
  <%= @interest.politics %>
</p>

<p>
  <strong>Sports:</strong>
  <%= @interest.sports %>
</p>

<p>
  <strong>Economy:</strong>
  <%= @interest.economy %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @interest.weather %>
</p>

<p>
  <strong>Local:</strong>
  <%= @interest.local %>
</p>

<p>
  <strong>National:</strong>
  <%= @interest.national %>
</p>

<p>
  <strong>World:</strong>
  <%= @interest.world %>
</p>

<p>
  <strong>Gadget:</strong>
  <%= @interest.gadget %>
</p>

<p>
  <strong>Fashion:</strong>
  <%= @interest.fashion %>
</p>

<p>
  <strong>Lifestyle:</strong>
  <%= @interest.lifestyle %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
